- if @past
  %h1.events_timeline Past Events
- elsif !current_user
  %h1.events_timeline Incoming Events
  .alert.alert-info In order to subcribe, you have to login to Twitter
%table.table.table-striped.table-bordered.events
  - @events.each do |event|
    - subscribed = current_user && current_user.subscribed?(event)
    %tr{class: subscribed ? 'subscribed' : ''}
      %td= event_button(event, subscribed)
      %td.action= render_cell :event, :subscribe_button, event
