.events {
  td {
    text-align: center;
    vertical-align: middle;
    &:first-child {
      a {
        width: 80%;
      }
    }
    &:last-child {
      a {
        width: 30%;
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
        i {
          margin-left: 10px;
        }
      }
    }
  }
}

section.event {
  & > .tabbable {
    margin-top: 10px;
    .tab-content {
      float: left;
      width: 70%;
    }
  }
  img.status {
    display: block;
    margin: 10px auto 0 auto;
  }
}
