.events {
  td {
    text-align: center;
    vertical-align: middle;
    &:first-child {
      a {
        width: 80%;
      }
    }
    &:last-child {
      a {
        width: 80%;
        i {
          margin-left: 10px;
        }
      }
    }
  }
}

section.event {
  & > h1 {
    text-align: center;
    float: left;
    & + a {
      margin-left: 10px;
    }
  }

  & > .tabbable {
    margin-top: 10px;
    .tab-content {
      float: left;
      width: 70%;
    }
  }
  img.status {
    display: block;
    margin: 20px auto 0 auto;
  }
  #topics {
    & > ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        background-image: url('/assets/ruby-32x32.png');
        background-repeat: no-repeat;
        background-position: 0 4px;
        padding-left: 40px;
        h1 {
          font-style: italic;
          font-size: 20px;
        }
      }
    }
  }
}
