.events {
  td {
    text-align: center;
    vertical-align: middle;
    &:first-child {
      a {
        width: 90%;
      }
    }
    &:last-child {
      a {
        width: 40%;
        i {
          margin-left: 10px;
        }
      }
    }
  }
}

section.event {
  img.status {
    display: block;
    margin: 10px auto 0 auto;
  }
}
