body {
  margin: 0 auto;
  width: 80%;
  padding: 60px 0 2em 0;
}

.navbar {
  .nav {
    .account {
      span {
        line-height: 40px;
        float: left;
      }
      a {
        float: left;
        .not_logged & {
          padding: 0;
        }
        .logged & {
          i {
            margin-left: 10px;
          }
        }
        img {
          margin-left: 8px;
          width: 26px;
          position: relative;
          top: 7px;
        }
      }
    }
  }
}
.social {
  margin-bottom: 10px;
}
.credits {
  text-align: center;
  float: left;
  dt, dd {
    margin-top: 10px;
  }
  dt {
    width: 180px;
    line-height: 52px;
  }
  dd {
    float: left;
    margin-left: 10px;
  }
  img {
    box-shadow: 0 0 4px 2px #222;
    max-height: 48px;
    border: 2px solid #222;
    border-radius: 4px;
    margin: 0 5px;
  }
  &.developers {
    ul {
      list-style: none;
      margin: 0;
      li {
        float: left;
      }
    }
  }
}
