%section.event
  %h1= @event.start.to_date.to_s
  = render_cell :event, :subscribe_button, @event
  .tabbable.tabs-left
    %ul.nav.nav-tabs
      - @sections.each do |section|
        %li{class: @active_section.to_s == section ? 'active' : ''}
          = link_to section.humanize, url_for([@event, section])
    .tab-content
      .tab-pane.active{id: @active_section}
        = @section_content
