%ul
  - if @event.has_topics?
    - @event.ordered_topics.each do |topic|
      %li
        %article
          %h1= topic.title
          %p= topic.author
  - else
    %p No topic has been proposed yet..
    = image_tag "event-status/le_fu.jpeg", class: 'topics status'
