%dl.dl-horizontal.credits
  %dt Proudly powered by
  %dd= link_to image_tag('rails.png', alt: 'Ruby on Rails'), 'http://www.rubyonrails.org'
  %dt Hosted by
  %dd= link_to image_tag('heroku.jpg', alt: 'Heroku'), 'http://www.heroku.com'
  %dt Source code available at
  %dd= link_to image_tag('github.png', alt: 'GitHub repository'), 'https://github.com/olistik/ruby-social-club'
%dl.dl-horizontal.credits.developers
  %dt developed by
  %dd
    %ul
      - ContributorCollection.new.each do |contributor|
        %li= link_to image_tag(contributor.avatar_url, alt: contributor.login), contributor.url
