.credits
  Proudly powered by
  = link_to image_tag('rails.png', alt: 'Ruby on Rails'), 'http://www.rubyonrails.org'
  hosted by
  = link_to image_tag('heroku.jpg', alt: 'Heroku'), 'http://www.heroku.com'
  and developed by
  = link_to image_tag('olistik.jpg', alt: 'Olistik'), 'http://www.red-object.net'
  source code available at
  = link_to image_tag('github.png', alt: 'GitHub repository'), 'https://github.com/olistik/ruby-social-club'
